%html
  %head
    %title about - Frozen Yogurt Shop
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/mobile.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/mobile.js", :type => "text/javascript"}
  %body
    .page
      #body
        .header
          %div
            %h1 About Us
        .body
          %img{:alt => "", :src => "images/bg-header-about.jpg"}/
        .footer
          .sidebar
            %h1 Be Part of Our Community
            %p
              If you’re experiencing issues or having concerns about this website template, join the discussion
              %a{:href => "http://www.freewebsitetemplates.com/forums/"} on our forum
              and meet other people in the community who share the same interests.
          .article
            %h1 We Have Free Templates For Everyone
            %p Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them.
            %p
              You can use them to design websites for clients, so long as you agree with the
              = succeed "." do
                %a{:href => "http://www.freewebsitetemplates.com/about/terms/"} Terms of Use
            %h1 We Have More Templates For You
            %p
              Looking for more templates? Just browse through all our
              = succeed "." do
                %a{:href => "http://www.freewebsitetemplates.com/"} Free Website Templates
              %a{:href => "http://www.freewebsitetemplates.com/freewebdesign/"} Free Web Design
              service and tell us all about it. We love a good challenge!
            %h1 Template Details
            %span Design Version 2.
            %span Code Version 1.
            %p
              Website Template details, discussion and updates for this
              = succeed "." do
                %a{:href => "http://www.freewebsitetemplates.com/discuss/frozenyogurtshop/"} Frozen Yogurt Shop Website Template
            %p
              Website Template design by
              = succeed "." do
                %a{:href => "http://www.freewebsitetemplates.com/"} Free Website Templates
