%html
  %head
    %title Frozen Yogurt Shop
    %link{:href => "../home_page.scss", :rel => "stylesheet", :type => "text/css"}
  %body
    #page
      #body.home
        .header
          %img{:alt => "", :src => "../images/bg-home.jpg"}/
          %div
            %a{:href => "#"} Freeze Delight
        .body
          %div
            %div
              %h1 NEW PRODUCT
              %h2 The Twist of Healthy Yogurt
              %p This website template has been designed by freewebsitetemplates.com for you, for free. You can replace all this text with your own text.
            %img{:alt => "", :src => "../images/yogurt.jpg"}/
        .footer
          %div
            %ul
              %li
                %a.product{:href => "#"}
                %h1 PRODUCTS
              %li
                %a.about{:href => "#"}
                %h1 OUR STORY
              %li
                %a.flavor{:href => "#"}
                %h1 FLAVORS
              %li
                %a.contact{:href => "#"}
                %h1 OUR LOCATION
      











